* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter {
    font-size: 40px;
    margin-top: 10px;
}

@media (max-width:580px) {
    body {
        flex-direction: column;
    }
}