*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    height: 500px;
    width: 100px;
    border-radius: 50px;
    padding: 1px;
    transition: .3s;
}
.img.active{
    height: 500px;
    width: 700px;
}